.account_info_form {
  width: 100%;
  max-width: unset;
  margin: 0;
  padding: 30px 0 !important;
  padding-left: 450px !important;
  padding-right: 30px !important;
}

.custom-form {
  width: 500px;
}
