body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.landing_button {
  margin-top: 20%;
}

img {
  max-width: 100%;
}

.front_logo {
  margin-top: 17%;
}

.singup_form {
  margin-top: 10%;
  background: #f3f3f2;
  width: 30%;
}


.custom-row {
  display: flex;
}
